## Mac OSX ##
.DS_Store

## API Keys ##
server/yelp_config.js
react-client/facebook_config.js

## NPM ##
node_modules

## Compiled files ##
compiled

## React ##
react-client/dist/bundle


## NPM-Debugger ##
npm-debug.log

database-mongo/Data/db
